@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iofrm</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="/css/iofrm-theme6.css">
</head>
<body>
    <div class="form-body">
        <div class="website-logo">
            <a href="home/index">
                <div class="logo">
                    <img class="logo-size" src="/images/logo-light.svg" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="/images/graphic2.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Get more things done with Loggin platform.</h3>
                        <p>Access to the most powerfull tool in the entire design and web industry.</p>
                        <div class="page-links">
                            <a href="/account/login" class="active">Login</a><a href="/account/register">Register</a>
                        </div>
                        <form asp-action="Login" asp-controller="Account" method="post">
                            <div class="form-style1">
                                <div class="mb25">
                                    <label class="form-label fw600 dark-color">Email</label>
                                    <input type="email" name="Email" class="form-control" placeholder="Enter Email">
                                </div>
                                <div class="mb15">
                                    <label class="form-label fw600 dark-color">Password</label>
                                    <input type="password" name="Password" class="form-control" placeholder="Enter Password">
                                </div>
                                <div class="d-block d-sm-flex align-items-center justify-content-between mb10">
                                    <div class="form-button">
                                        <button class="ibtn" type="submit">Sign in</button>
                                    </div>
                                    <input  type="hidden" name="RememberMe" value="true">
                                    <a id="forgot-password" href="./ForgotPassword">Forget password?</a>
                                </div>
                            </div>
                        </form>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
