@{
    Layout = null;

}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/vite.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<script src="main.js"></script>
		<title>Dashboard</title>
	</head>
	<body>
<main
	class="containerDash"
	id="container">
	<div class="aside">

	<div
		class="sidebarMenu"
		id="sidebarDisplay">
		<div>

			<div>
				<div class="sidebarMenuGeneral">
					<div class="sidebarMenuGeneralLeft">
						<img
							src="/dashboard.svg"
							alt="" />
						<h5>General</h5>
					</div>
					<div class="sidebarMenuGeneralRight"></div>
				</div>
				<div class="sidebarMenuGeneral">
					<div class="sidebarMenuGeneralLeft">
						<img
							src="/message.svg"
							alt="" />
						<h5>Messages</h5>
					</div>
					<div class="sidebarMenuGeneralRight">
						<h6>6</h6>
					</div>
				</div>
				<div class="sidebarMenuGeneral">
					<div class="sidebarMenuGeneralLeft">
						<img
							src="/notification.svg"
							alt="" />
						<h5>Notification</h5>
					</div>
					<div class="sidebarMenuGeneralRight"></div>
				</div>
				<div class="sidebarMenuGeneral">
					<div class="sidebarMenuGeneralLeft">
						<img
							src="/user.svg"
							alt="" />
						<h5>User</h5>
					</div>
					<div class="sidebarMenuGeneralRight"></div>
				</div>
				<div class="sidebarMenuGeneral active">
					<div class="sidebarMenuGeneralLeft">
						<img
							src="/events.svg"
							alt="" />
						<h5>Events & Logs</h5>
					</div>
					<div class="sidebarMenuGeneralRight"></div>
				</div>
				<div class="sidebarMenuGeneral">
					<div class="sidebarMenuGeneralLeft">
						<img
							src="/organization.svg"
							alt="" />
						<h5>Organization</h5>
					</div>
					<div class="sidebarMenuGeneralRight"></div>
				</div>
				<div class="sidebarMenuGeneral">
					<div class="sidebarMenuGeneralLeft">
						<img
							src="/team.svg"
							alt="" />
						<h5>Teams</h5>
					</div>
					<div class="sidebarMenuGeneralRight">

                    </div>
				</div>
			</div>
		</div>
		<div>
			<div class="user">

			</div>
			<div class="planCard">

			</div>
		</div>
	</div>
	<div class="mainScreen">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
    </tr>
  </tbody>
</table>
	</div>
</main>
    </body>
