@{
	ViewData["Title"] = "Home Page";
}

<!-- Masthead-->
<header class="masthead z-0">
	<div
		class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-start">
		<div class="d-flex justify-content-center">
			<div class="text-center">
				<h1 class="mx-auto my-0 text-uppercase">ACUNMEDYA AKADEMİ</h1>
				<h2 class="text-white-50 mx-auto mt-2 mb-5">
					Akadamiye şimdi katıl, birbirinden değerli katılımcılarla
					MasterClass'ları kaçırma.
				</h2>
				<a
					class="btn btn-secondary register"
					href="#"
					onclick="registerOpen()"
					>KAYIT OL</a
				>
			</div>
		</div>
	</div>
</header>
<div class="registerCon hidden"></div>
<div class="loginCon hidden"></div>
<div class="formCon hidden"></div>
<!-- About-->

@* <div class="text-center"> <h1 class="display-4">Welcome</h1> <p>Learn about
<a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET
Core</a>.</p> </div> *@ 
